<div class="stepper">
<!-- headers -->
 <div class="stepper-headers">
  <button
    [disabled]="true"
    *ngFor="let step of _steps; let i = index"
    type="button"
    class="step-header"
    [class.active]="selectedIndex === i"
    (click)="onStepHeaderClick(i)">
    <span class="step-number">{{ i + 1 }}</span>
    <span class="step-label">{{ step.label }}</span>
  </button>
</div>


  <!-- Active step content -->
  <div class="stepper-body mt-3">
    <ng-container *ngIf="selected">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </ng-container>
  </div>

</div>

