<nav class="breadcrumb-shell" aria-label="Breadcrumb" *ngIf="(breadcrumbs$ | async)?.length">
  <ng-container *ngFor="let breadcrumb of breadcrumbs$ | async; let last = last">
    <a
      *ngIf="!last"
      class="breadcrumb-shell__link"
      [routerLink]="breadcrumb.url"
    >
      {{ breadcrumb.label }}
    </a>

    <span *ngIf="!last" class="breadcrumb-shell__separator" aria-hidden="true"></span>

    <span *ngIf="last" class="breadcrumb-shell__current" aria-current="page">
      {{ breadcrumb.label }}
    </span>
  </ng-container>
</nav>
