<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <app-stepper [linearModeSelected]="false" #appStepper>

        <cdk-step [label]="stepLabels.address">
          <app-checkout-address
            [checkoutForm]="checkoutForm">
          </app-checkout-address>
        </cdk-step>

        <cdk-step [label]="stepLabels.delivery">
          <app-checkout-delivery
            [checkoutForm]="checkoutForm">
          </app-checkout-delivery>
        </cdk-step>

        <cdk-step [label]="stepLabels.review">
          <app-checkout-review
            [checkoutForm]="checkoutForm">
          </app-checkout-review>
        </cdk-step>

        <cdk-step [label]="stepLabels.payment">
          <app-checkout-payment
            [checkoutForm]="checkoutForm">
          </app-checkout-payment>
        </cdk-step>

      </app-stepper>
    </div>

    <div class="col-4">
      <app-order-tools></app-order-tools>
    </div>
  </div>
</div>
