<!-- <div class="carousel">
  <div class="slides" [style.transform]="'translateX(-' + (current * 100) + '%)'">
    <div class="slide" *ngFor="let img of slides" [style.backgroundImage]="'url(' + img + ')'">
      <div class="overlay">
   
        <!-- <button class="cta-btn">Shop Now</button> 
      </div>
    </div>
  </div>

  <button class="nav prev" (click)="prev()">‹</button>
  <button class="nav next" (click)="next()">›</button>

  <div class="dots">
    <span *ngFor="let _ of slides; let i = index" [class.active]="i === current" (click)="goTo(i)"></span>
  </div>
</div> -->

<carousel>
<slide>
    <img src="/WF-Images/man-1.png" alt="first slide" style="display: block; width: 100%"/>
</slide>
<slide>
    <img src="/WF-Images/man-2.png" alt="first slide" style="display: block; width: 100%"/>
</slide>
<slide>
    <img src="/WF-Images/girl-1.png" alt="first slide" style="display: block; width: 100%"/>
</slide>
<slide>
    <img src="/WF-Images/girl-2.png" alt="first slide" style="display: block; width: 100%"/>
</slide>
<slide>
    <img src="/WF-Images/girl-3.png" alt="first slide" style="display: block; width: 100%"/>
</slide>
</carousel>
<section class="feat">
 
<div class="d-flex justify-content-center p-4">
  <h1>World Famous</h1>
</div>


</section>
