<!-- Basket Component -->

<div *ngIf="(basketService.basket$ | async) as basket">

  <!-- Empty Basket Message -->
  <ng-container *ngIf="basket.items.length === 0; else basketTable">
    <div class="container py-5 text-center">
      <h4 class="text-muted">Your shopping cart is empty</h4>
    </div>
  </ng-container>

  <!-- Basket Table -->
  <ng-template #basketTable>
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summary
              (addItem)="incrementQuanity($event)"
              (removeItem)="removeItem($event)">
            </app-basket-summary>
          </div>

          <!-- Summary / Checkout -->
          <div class="col-6 offset-6">
            <app-order-tools></app-order-tools>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 w-100">
              Proceed to checkout
            </a>
          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- pb-5 -->
  </ng-template>
</div>
