<section class="section-header py-4">
  <div class="container">
    <div class="row d-flex align-items-center g-3">
      <div class="col-12 col-md-8">
        <ng-container *ngIf="breadcrumbs$ | async as crumbs">
          <h1 *ngIf="crumbs.length > 0">
            {{ crumbs[crumbs.length - 1].label }}
          </h1>
          <!-- optional fallback: <h1>&nbsp;</h1> -->
        </ng-container>
      </div>
      <div class="col-12 col-md-4 text-md-end section-header__crumbs">
        <app-breadcrumb></app-breadcrumb>
      </div>
    </div>
  </div>
</section>
