<div class="mb-3">
  <div class="form-floating position-relative">
    <input
      #input
      [type]="toggleable && type === 'password' ? (showPassword ? 'text' : 'password') : type"
      class="form-control pe-5"
      [id]="label"
      [placeholder]="label"
      [autocomplete]="autocomplete"
      [ngClass]="{
        'is-invalid': showErrors && controlDir.invalid,
        'is-valid': showValid && isValid
      }"
      [value]="value"
      (input)="handleInput($event)"
      (blur)="onTouched()"
    />
    <label>{{ label }}</label>

    <span
      *ngIf="toggleable && type === 'password'"
      class="password-toggle"
      (click)="togglePasswordVisibility()"
      role="button"
      tabindex="0"
      (keydown.enter)="togglePasswordVisibility()"
      aria-label="Toggle password visibility">
      <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
    </span>
  </div>

  <!-- show error messages only if you turn them on -->
  <div class="invalid-feedback d-block mt-1" *ngIf="showErrors && controlDir.invalid">
    <small *ngFor="let msg of errorMessages">{{ msg }}</small>
  </div>
</div>
