<div class="table-responsive" *ngIf="(basketService.basket$ | async) as basket">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light p-0">
                      <div class="p-3 px-4 text-uppercase fs-5">Product</div>
                    </th>
                    <th class="border-0 bg-light p-0">
                      <div class="p-3 px-4 text-uppercase fs-5">Price</div>
                    </th>
                    <th class="border-0 bg-light p-0">
                      <div class="p-3 px-4 text-uppercase fs-5">Quantity</div>
                    </th>
                    <th class="border-0 bg-light p-0">
                      <div class="p-3 px-4 text-uppercase fs-5">Total</div>
                    </th>
                    <th class="border-0 bg-light p-0">
                      <div class="p-3 px-4 text-uppercase text-center fs-5">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of basket.items">
                    <td class="p-0">
                      <div class="p-3 px-4 d-flex align-items-center">
                        <img [src]="item.pictureUrl" [alt]="item.productName" class="img-fluid" style="max-height:70px;" />
                        <div class="ms-4">
                          <h5 class="mb-0 fs-5">
                            <a [routerLink]="'/shop/' + item.id" class="text-dark">
                              {{ item.productName }}
                            </a>
                          </h5>
                          <small class="text-muted fst-italic fs-6">
                            Type: {{ item.type }}
                          </small>
                        </div>
                      </div>
                    </td>

                    <td class="align-middle p-0">
                      <div class="p-3 px-4 fs-6">
                        <strong>{{ item.price | currency }}</strong>
                      </div>
                    </td>

                    <td class="align-middle p-0">
                      <div class="p-3 px-4 d-flex align-items-center">
                        <i (click)="removeBasketItem(item.id, 1)" class="fas fa-minus-circle text-warning" style="cursor:pointer; font-size:2em;"></i>
                        <span class="fw-bold mx-3" style="font-size:1.3em;">
                          {{ item.quantity }}
                        </span>
                        <i (click)="addBasketItem(item)" class="fas fa-plus-circle text-warning" style="cursor:pointer; font-size:2em;"></i>
                      </div>
                    </td>

                    <td class="align-middle p-0">
                      <div class="p-3 px-4 fs-6">
                        <strong>{{ item.price * item.quantity | currency }}</strong>
                      </div>
                    </td>

                    <td class="align-middle p-0">
                      <div class="d-flex justify-content-center align-items-center p-3 px-4">
                        <a class="text-danger" style="cursor:pointer;">
                          <i (click)="removeBasketItem(item.id, item.quantity)" class="fa fa-trash" style="font-size:2.2em; cursor: pointer"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> 