<div class="card h-100 shadow-sm">
  <div
   class="position-relative image" style="cursor: pointer;"
     style="cursor: pointer;" 
  [routerLink]="'/shop/' + product.id"
   >
      <img
        [src]="product.pictureUrl"
        [alt]="product.name"
        class="card-img-top bg-light"
      />


    <div class="hover-overlay d-flex justify-content-center align-items-end gap-2 p-2 pt-5"
    >
      <button
      [routerLink]="'/shop/' + product.id"
        type="button" 
        class="btn btn-primary btn-sm custom-btn">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>

      <button 
        type="button" 
        class="btn btn-primary btn-sm custom-btn"
        [routerLink]="'/shop/' + product.id">
        View
      </button>
    </div>

  </div>

  <div class="card-body d-flex flex-column">
    <a [routerLink]="'/shop/' + product.id">
      <h6 class="text-uppercase mb-1">{{ product.name }}</h6>
    </a>
    <span class="mb-3">{{ product.price | currency }}</span>
